html, body{
    height: 100%;
}

:root {
    font-size: 40%
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    list-style-type: none;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    color: #153E6D;
    box-shadow: 0 0 20px #23BFC4;
    height: 200rem;
    text-align:justify;
    margin: 3% 3% 3%;
    padding: 2em 2em;
    box-sizing: border-box;
    display: flex;
    border-radius: 10px;
}

.page-header {
    display: flex;
    justify-content: space-between;
    margin: 10rem 14rem;
    font-size: 2.5rem;
}

.left-header .name {
    font-size: 5rem;
    letter-spacing: 0.5rem;
    text-transform: uppercase;
}

.left-header .current-job-title {
    letter-spacing: 1rem;
    text-transform: uppercase;
}

.right-header .contact-info {
    text-align: right;
}

.main-section {
    display: flex;
    margin: 0rem 14rem;
}

.aside-content {
    display: flex;
    flex-direction: column;
    width: 38rem;
}

.main-content {
    margin-left: 10rem;
}

.plus{
    height: 2.5rem;
}

.content-box {
    display: flex;
    flex-direction: column;
    font-size: 2.5rem;
    margin-bottom: 5rem;
}

.box-title {
    font-size: 3.5rem;
    color: #23BFC4;
}

.professional-experience, .license, .project-name {
    margin-top: 2.5rem;
}

.job-title, .topic, .project-name {
    font-size: 2.4rem;
    font-weight: 700;
}

.box-header {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}

.box-content {
    display: none;
}

























